body {
	background-color: #90e0ef;
	overflow-x: hidden;
	font-family: "Times New Roman", Times, serif;
}

#mainpic {
	height: 100vh;
	width: 1500px;
	background-size: cover;
	background-image: url("https://media1.tenor.com/m/438H6u87JfsAAAAd/sky-clouds.gif");
}

#logo {
	height: 30px;
	width: 30px;
	margin-left: 10px;
}

.navbar {
	background-color: #03045e;
}

.nav-link {
	color: aliceblue;
}

h2,
h4 {
	text-align: center;
	margin: 50px 10px;
}

h2 {
	font-size: 80px;
}

h5,
h6 {
	text-align: center;
	margin: 0px 5px;
}

h5 {
	font-size: small;
}

h4 {
	font-size: 25px;
}

#blogpic {
	height: 300px;
	width: 80%;
	margin: 10px;
}

.btn {
	height: 40px;
	width: 40px;
	margin: 0 0 0 35px;
}

#myBtn {
	margin: 10px 165px;
}

.blogti {
	margin: 5px;
}

a {
	color: black;
	text-decoration: none;
	font-family: Georgia, "Times New Roman", Times, serif;
}

#more {
	display: none;
}

.row {
	background-color: #90e0ef;
}

footer {
	text-align: center;
	color: black;
	font-size: 8px;
	margin-top: 5px;
}

#abouttext1 {
	font-size: 40px;
}

#abouttext2 {
	font-size: 20px;
}

#abouttext2,
#abouttext1 {
	text-align: center;
	margin: 50px;
}

#aboutpicw {
	width: 50vw;
	height: 400px;
	margin: 1px;
	background: linear-gradient(
		360deg,
		hsla(212, 68%, 61%, 1) 0%,
		hsla(240, 23%, 73%, 1) 36%,
		hsla(0, 0%, 100%, 1) 100%
	);
	border-radius: 5px;
}

#uspic {
	width: 50vw;
	height: 400px;
	margin: 1px;
	
}
.media {
	width: 40px;
	height: 40px;
	margin: 50px 15px;
}

.media1 {
	width: 30px;
	height: 30px;
	margin: 5px 15px;
}
#con {
	text-align: center;
	margin-top: 30px;
}

#vblogpic1 {
	width: 50vw;
	height: 400px;
	margin: 1px;
	border-radius: 20px;
}

.blogmini {
	width: 70vw;
	height: 200px;
	border-radius: 5px;
	margin: 10px;
	font-style: bold;
}

.blogcontent {
	margin: 10px;
	font-size: 20px;
	text-align: center;
	font-family: "Times New Roman", Times, serif;
	background-color: #90e0ef;
	margin-bottom: 0;
}

#minilistq {
	font-size: 30px;
	font-family: "Times New Roman", Times, serif;
	margin: 5px 10px;
}

#blogtitle {
	margin-top: 10px;
}

#blogauthor {
	margin: 0;
	font-size: 15px;
}

@media only screen and (max-width: 762px) {
#vblogpic1 {
	width: 100vw;
	height: 400px;
	margin: 1px;
	border-radius: 20px;
}

	
#aboutpicw {
	width: 100vw;
	height: 400px;
	margin: 1px;
	background: linear-gradient(
		360deg,
		hsla(212, 68%, 61%, 1) 0%,
		hsla(240, 23%, 73%, 1) 36%,
		hsla(0, 0%, 100%, 1) 100%
	);
	border-radius: 5px;
}

#uspic {
	width: 100vw;
	height: 400px;
	margin: 1px;
	
}




h2 {
	font-size: 45px;
}


h4 {
	font-size: 15px;
}

	
#blogpic {
	height: 300px;
	width: 93%;
	margin: 10px;
}

	#myBtn {
	margin: 10px 16px;
}
.blogmini {
	width: 80vw;
	height: 200px;
	border-radius: 5px;
	margin: 10px;
	font-style: bold;
}

	
	
}

